<h1>Estadisticas previas</h1>
<!--<p>Find me in app/views/self/statistics.html.erb</p>-->
<h2>Favoritos promedio</h2>

<h2>Retweets promedio</h2>

<h2>Tweet con mayor favoritos</h2>

<h2>Tweet con mayor retweets</h2>
