<h1 id="calculadora-title">Calculadora de impacto</h1>
<!--<p>Find me in app/views/calculator/display.html.erb</p>-->

<form action = "/calculator/display" >
  <input type="textarea" name="texto" id="to-calculate" class="text-input" 	>
  <input type="submit" class="big-button-component" id="btn-buscar-congresos"/>
</form>

<section id="reporte">
	<span id="reporte">REPORTE DE INFORMACIÓN</span>
	<div id="rep-sentimientos">
		<span><%= @sentiment %></span>
	</div>
	<div id="rep-conceptos">
		<span><%= @keyword %></span>
	</div>
	<div id="rep-conceptos">
		<span><%= @entity %></span>
	</div>
</section>
