<h1>Calculadora de impacto</h1>
<!--<p>Find me in app/views/calculator/display.html.erb</p>-->
<section>
	<div class="area">
		<textarea placeholder="Escribe tu Tweet"></textarea>
		<br>
		<input type = "submit" value = "Calcular" id="submit" />
	</div>
	<div class="container">
		<div id="bttn">
			<button id="btn_sentimiento">Sentimiento</button>
			<button id="btn_concepto">Concepto</button>
		</div>
	</div>
</section>
<section id="reporte">
	<h1>Sentimientos</h1>
	<h1>Conceptos</h1>
</section>