<h1 id="calculadora-title">Calculadora de impacto</h1>
<!--<p>Find me in app/views/calculator/display.html.erb</p>-->
<textarea class="text-input" placeholder="Escribe tu Tweet" id="to-calculate" ></textarea>

<div class="big-button-component" id="btn-buscar-congresos" onclick="toCongresses()">
	<span>Calcular Contenido</span>
</div>

<section id="reporte">
	<div id="rep-sentimientos">
		<%= calcularSentimientos(texto) %>
	</div>
	<div id="rep-conceptos">
		<%= calcularSentimientos(texto) %>
	</div>
</section>
