// Place all the styles related to the Self controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color:  	#00bfff;
    color: black;
    position: relative;
}
main#mainMain{
    max-width: 85%;
    margin: 0 auto;
}
section#showSection{
    max-width: 400px;
    float: left;
    margin: 30px; 
}
div.row{
    background-color: #ff661a;
    border: 1px solid black;
}